[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GOsummaries"]
	path = GOsummaries
	url = https://github.com/raivokolde/gosummaries
[submodule "pheatmap"]
	path = pheatmap
	url = https://github.com/raivokolde/pheatmap
[submodule "RobustRankAggreg"]
	path = RobustRankAggreg
	url = https://github.com/cran/RobustRankAggreg
